.Navbar{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(211, 40, 40);
    padding: 12px;
}

/* remove bullets */
.Navbar ul{
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.Navbar li{
    list-style: none;
}

/* link color */
.Navbar a{
    color: white;
    text-decoration: none;
    font-weight: 600;
}

/* hover works now */
.Navbar li:hover a{
    color: aquamarine;
}
